h1 Xin chào #{ten}
p Chúc mừng bạn đậu rồi!
p Mời bạn đến nhận việc vào: 
ul 
    li Thời gian: #{thoiGianNhanViec}
    li Tại: Tầng 9 Landmark 81
a(href='https://example.com/confirmation') Xác nhận!
p Trân trọng!