h1 Xin chào #{ten}
p Chúc mừng bạn đã vượt qua bài test.
p Mời bạn tham gia phỏng vấn: 
ul 
    li Vào lúc: #{thoiGianPv}
    li Tại: Tầng 9 Landmark 81
a(href='https://example.com/confirmation') Xác nhận tham gia tại đây!
p Trân trọng!