h1 Xin chào #{hoVaTenDem} #{ten}
p Cám ơn bạn đã quan tâm đến công ty. 
p Mời bạn làm bài test: 
ul 
    li Thời gian làm bài test: #{thoiGianTest}
    li Mã số ứng viên: #{maUngVien}
    li Link làm bài test: 
    a(href='https://example.com/confirmation') HERE!
p Trân trọng!